
.sidebar{
    width:2rem;
    height:2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
}
.bar{
    width:2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transform-origin: 1px;
    transition: all 0.1s linear;
}

.bar1{
    transform:rotate(0);
}
.bar1--open{
    transform:rotate(45deg);
}
.bar2{
    transform:translateX(0);
    opacity: 1;
}
.bar2--open{
    transform: translateX(100%);
    opacity: 0;
}
.bar3{
    transform: rotate(0);
}
.bar3--open{
    transform: rotate(-45deg);
}
@media only screen and (min-width: 800px) {
    .sidebar{
        display: none;
    }
}