@media only screen and (max-width: 799px) {
  .carousel {
    overflow: hidden;
    background: inherit;

    width: 100%;
    height: 100%;
  }
  .inner {
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-item {
    display: inline-flex;
    background-color: inherit;
    width: 100%;
    height: 100%;
  }

  .indicators {
    display: flex;
    justify-content: center;
    background-color: inherit;
  }

  .indicators > button {
    margin: 0.2vw 20px;
    padding: 0.6vw;
    border: none;
    border-radius: 50%;
  }

  .indicators > button.active {
    background-color: rgb(184, 69, 69);
  }
}

@media only screen and (min-width: 800px) {
  .carousel {
    overflow: hidden;
    background: inherit;
    width: 60vw;
    height: 90vh;
  }

  .inner {
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-item {
    display: inline-flex;
    background-color: inherit;
    width: 80vw;
    height: 80vh;
    padding-left: 10vw;
  }

  .indicators {
    display: flex;
    justify-content: center;
    background-color: inherit;
  }

  .indicators > button {
    margin: 0.2vw 20px;
    padding: 0.6vw;
    border: none;
    border-radius: 50%;
  }

  .indicators > button.active {
    background-color: rgb(184, 69, 69);
  }
}
